<beans xmlns="http://www.springframework.org/schema/beans" default-init-method="init"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.example.model"/>

    <bean id="studentJil" class="org.example.model.Student">
        <constructor-arg name="firstName" value="Jil"/>
        <constructor-arg name="lastName" value="Green"/>
        <constructor-arg name="grades">
            <map>
                <entry key="ENGLISH" value="2"/>
                <entry key="COMPUTER_SCIENCE" value="2"/>
                <entry key="MATH" value="2"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="studentAlice" class="org.example.model.Student">
        <constructor-arg name="firstName" value="Alice"/>
        <constructor-arg name="lastName" value="White"/>
        <constructor-arg name="grades">
            <map>
                <entry key="ENGLISH" value="3"/>
                <entry key="COMPUTER_SCIENCE" value="3"/>
                <entry key="MATH" value="2"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="studentBob" class="org.example.model.Student">
        <constructor-arg name="firstName" value="Bob"/>
        <constructor-arg name="lastName" value="Builder"/>
        <constructor-arg name="grades">
            <map>
                <entry key="ENGLISH" value="5"/>
                <entry key="COMPUTER_SCIENCE" value="5"/>
                <entry key="MATH" value="5"/>
            </map>
        </constructor-arg>
    </bean>

    <bean id="professorBean" class="org.example.model.Professor" autowire="byName">
        <property name="firstName" value="Ivan"/>
        <property name="lastName" value="I"/>
    </bean>

    <bean class="org.example.config.JillBeanPostProcessor"/>
</beans>